<% comments.each do |comment| %>
  <% unless comment.id.nil? %>
    <p>コメント：<%= comment.content %></p>
    <p><%= link_to "#{comment.user.name}さん", user_path(comment.user.id) %></p>
    <% if comment.user == current_user %>
      <p><%= link_to 'コメントを削除する', word_comment_path(comment.word_id, comment.id), method: :delete, remote: true ,:class=>"btn btn-default"%></p>
    <% end %>
  <% end %>
<% end %>