<h1>watch_lists</h1>

<ul>
  <% @watch_lists.each do |watch_list| %>
  　<li><%= watch_list.watch_list %></li>
<%= link_to '編集', edit_watch_list_path(watch_list) %> |
<%= link_to '削除', watch_list_path(watch_list)  , method: :delete ,data: { confirm: '本当に削除していいですか？' }, class: 'btn btn-danger' %> |

<% end %>
<%= link_to '戻る', watch_list_path(@watch_lists) %>
</ul>

