
<div class="container">
    <div class="about-background">
        <h1>Cine Talk</h1>
        <p class="about">
          映画を見る時、何となく手に取ったり、ネットで話題だから、とチョイスしてなんか違う・・・ってことが良くある。<br>
          気に入ったセリフやシーンの目の付け所が一緒だったら、その人が好きな映画は自分も気にいる可能性が高いし、ハズレないのでは？<br>
          好きな映画のセリフを投稿し合い、自分が気になるセリフを投稿した人のページを覗いて見ましょう。<br>
          まだ見ていない素敵な映画に出会えるかもしれません。
        </p>
    </div>
</div>

