<div class="container">
    <section class="sidebar">
      <%= render 'users/sidebar' %>
    </section>
    <div class="users-index">
        <ul>
            <li class= "user_title">フォロー一覧（<%= @user.following.count %> 人）</li>
                <% @user.following.each do |user| %>
                    <% unless current_user == user %>
            <li class="users-show-item"><%= link_to user.name, "/profile/#{user.id}" %></li>
            <% end %>
            <% end %>
        </ul>
    </div>
</div>